name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'
        
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
          ${{ github.workspace }}/.next/cache
        key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-modules-
          
    - name: Install dependencies
      run: npm ci
      
    - name: Generate OG Image
      run: npm run generate-og
      
    - name: Build
      run: next build
      
    - name: Upload OG Image
      uses: actions/upload-artifact@v2
      with:
        name: og-image
        path: public/og-image.jpg